*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat";

}
html{
    font-size: 62.5%;
}

.nav-bar{
    display: flex;
    margin: 0 auto;
    background-color: red;
    height: 10rem;
    font-size: 1.8rem;
    justify-content: space-between;
    max-width: 80%;
    align-items: center;
}

.header-logo{
    background-color: yellow;
    font-size: 2.4rem;
}

.links-container{
    display: flex;
    background-color: green;
    justify-content: space-evenly;
    gap: 4.8rem;
}

.links-container > li{
    list-style: none;
}

.links-container > li > a {
    text-decoration: none;
}
a{
    background-color: hotpink;
    font-weight: bolder;
    color: white;
    
}
.main-container{
    margin: 0 auto;
    max-width: 80%;
}
.hero-container{
    background-color: blueviolet;
    margin: 4.8rem auto;
    display: flex;
}
.hero-box{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}
.hero-title{
    font-size: 4.8rem;
    line-height: 4.5rem;
}

.hero-description{
    font-size: 1.8rem;
    letter-spacing: -0.05rem;
    font-weight: 500;
    line-height: 1.6rem;
}

.btn-signup{
    color: black;
    font-size: 1.6rem;
    font-weight: bold;
    width: 10rem;
    height: 3.5rem;
    border: none;
    border-radius: 0.6rem;
}

.img-hero{
    width: 50%;
    max-height: 20rem;
    object-fit: contain;
    background-color: yellow;
}
.info-header{
    font-size: 3.6rem;
    text-align: center;
    margin: 3.6rem;
}
.info-container{
    background-color: aquamarine;
    min-height: 300px;
}
.card-container{
    display: flex;
    justify-content: space-evenly;
}
.card{
    background-color: blueviolet;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 0.8rem;
    justify-content: center;
    align-items: center;
}
.card>p{
    text-align: center;
    font-size: 1.6rem;
    font-weight: 300;
    letter-spacing: -1px;
}
.card-img{
    border: 3px solid gold;
    border-radius: 8px;
    width: 15rem;
    
    
}